<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="/">Bikeshop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/bicicletas/new">Crear Bicicleta</a>
                <a class="nav-link" href="/compras">Compras</a>
                {{#if usuario}}
                    <span class="nav-link">Bienvenido, {{usuario.nombre}}</span>
                    <a class="nav-link" href="/auth/logout">Logout</a>
                {{else}}
                    <a class="nav-link" href="/auth/register">Registrarse</a>
                    <a class="nav-link" href="/auth/login">Iniciar Sesión</a>
                {{/if}}
            </div>
        </div>
    </div>
</nav>